.button-box, .email-input, .text-area {
  box-sizing: border-box;
}

body {
  font: 100% / 1.414 "Open Sans", "Roboto", arial, sans-serif;
  background: #e9e9e9;
}

#main {
  background: #ffffff;
  max-width: 800px;
  margin: 0 auto;
  padding: 3em;
}
h1,
h2,
h3 {
  font-weight: 300;
  color: #111;
}
.main-form {
  margin-top: 50px;
}
.form-group {
  margin-bottom: 50px;
}
.text-area {
  max-width: 500px;
  margin-top: 10px;
  width: 100%;
  height: 64px;
  padding: 5px;
  border-radius: 5px;
  resize: none;
  font-size: 14px;
  font-family: "Arial";
}
.text-area::-webkit-scrollbar {
  width: 10px;
}
.text-area::-webkit-scrollbar {
  background-color: transparent;
}
.text-area::-webkit-scrollbar-thumb {
  background-color: #d1d1d1;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  background-clip: content-box;
}
.form-control:focus, .text-area:focus, .email-input:focus {
  outline: none;
}
.button-box button {
  width:100%;
  height:50px;
  position:relative;
  background: rgba(9, 9, 9);
  text-transform:uppercase;
  color:white;
  font-weight:700;
  letter-spacing:1px;
  border:none;
  font-size:15px;
  outline:none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  cursor: pointer;
}
.border {
  position:absolute;
  background:none;
  transition:all .5s ease-in-out;
}
.button-box {
  text-transform: uppercase;
  position:relative;
  max-width: 200px;
  min-width: 150px;
  flex: 20%;
}
.button-box>.border:nth-of-type(1){
  top:0;
  left:0;
  width:0;
  height:0;
  border-top:3px solid white;
}

.button-box>.border:nth-of-type(2){
  top:0;
  right:0;
  width:10px;
  height:0;
  border-right:3px solid white;
}

.button-box>.border:nth-of-type(3){
  bottom:0;
  right:0;
  width:0;
  height:0;
  border-bottom:3px solid white;
}

.button-box>.border:nth-of-type(4){
  bottom:0;
  left:0;
  width:0;
  height:0;
  border-left:3px solid white;
}

.button-box:hover .border:nth-of-type(1){
  width:100%;
}

.button-box:hover .border:nth-of-type(2){
  height:50px;
}

.button-box:hover .border:nth-of-type(3){
  width:100%;
}

.button-box:hover .border:nth-of-type(4){
  height:50px;
}

.small-button {
  position: absolute;
  font-size: 12px;
  top: 0;
  right: 0;
  background: #111;
  color: #fff;
  border: 0;
  padding: 4px 8px;
}
.form-label {
  font-size: 14px;
  text-transform: uppercase;
  color: #111111;
  margin-bottom: 10px;
}
.select-one .form-label {
  margin-bottom: 28px;
}
.input-container {
  max-width: 500px;
  margin-bottom: 28px;
  position: relative;
}
.small-button:hover {
  cursor: pointer;
  background-color: #4e4e4e;
}
.input-container .form-control {
  margin-top: 10px;
}
.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;
  outline: 0px;
}
.select:focus {
  color: black;
}
.select::-ms-expand {
  display: none;
}
.select-wrapper {
  position: relative;
  width: 220px;
  max-width: 100%;
  border: 1px solid black;
}
.select-wrapper:first-child {
  margin-right: 10px;
}
.select-wrapper::after {
  color: black;
  content: "▾";
  margin-right: 2px;
  pointer-events: none;
  position: absolute;
  right: 4px;
  top: 5px;
  font-size: 14px;
}
.required {
  border: 1px solid #E57F10 !important;
}
.valid {
  border: 1px solid #2AAA5B !important;
}
.email-input {
  padding: 10px 10px;
  font-size: 14px;
  width: 100%;
  border: 1px solid black;
}
.answer-entry {
  margin-bottom: 15px;
  background-color: #e9e9e9;
  padding: 15px;
  max-width: 500px;
  font-size: 1rem;
}
.answers-list .form-label:not(first-child) {
  margin-top: 25px;
}
.answers-list .button-box {
  margin-top: 30px;
}
.answer-entry .title {
  font-weight: bold;
  margin-bottom: 4px;
}
.email-wrapper {
  max-width: 450px;
  position: relative;
}
.input-validation {
  position: absolute;
  top: -25px;
  left: 4px;
  color: #D64226;
  font-size: 13px;
  font-weight: bold;
}
.input-validation.select-one {
  top: -20px
}
.radio-group {
  max-width: 400px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.required-box {
  border: 1px solid #c30a0a;
  max-width: 500px;
  padding: 4px;
  margin-left: -4px;
  margin-top: -4px;
  position: relative;
}
.required-box:before {
  content: '\25ba';
  color: #c30a0a;
  position: absolute;
  left: -20px;
}
.required-box .small-button {
  top: 4px !important;
  right: 4px !important;
}
.delete-answer-cross {
  visibility: hidden;
  line-height: 0;
}
@media screen and (max-width: 450px) {
  .delete-answer-text {
    visibility: hidden;
    line-height: 0;
    display: none;
  }
  .delete-answer-cross {
    visibility: visible;
    line-height: normal;
  }
}
label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;

  margin: 8px 0;

  cursor: pointer;
  position: relative;
}
.radio-group input {
  opacity: 0;
}
.design {
  width: 16px;
  height: 16px;

  border: 1px solid hsl(0, 0%, 14%);
  border-radius: 100%;
  margin-right: 16px;

  position: relative;
}

.design::before,
.design::after {
  content: "";
  display: block;

  width: inherit;
  height: inherit;

  border-radius: inherit;

  position: absolute;
  transform: scale(0);
  transform-origin: center center;
}

.design:before {
  background: hsl(0, 0%, 14%);
  opacity: 0;
  transition: .3s;
}

.design::after {
  background: hsl(0, 0%, 56%);
  opacity: .4;
  transition: .6s;
}
.radio-group input:checked+.design::before {
  opacity: 1;
  transform: scale(.6);
}
.radio-group input:hover+.design,
.radio-group input:focus+.design {
  border: 1px solid hsl(0, 0%, 33%);
}
.radio-group input:hover+.design:before,
.radio-group input:focus+.design:before {
  background: hsl(0, 0%, 33%);
}
.radio-group input:hover~.text {
  font-weight: bold;
}
